.App {
    color: white;
}

.Forms {
    text-align: center;
    color: red;
    font-size: 25px;
}

.Loginh1 {
    text-align: center;
    color: red;
    font-size: 75px;  
}

.Formsize {
    font-size: 100px;
}

.Ul {
    list-style-type: none;
    font-size: 25px;
    color: white;
    text-align: center;
}